html {
 padding: 0;
 margin: 0;
}

body {
 margin-left: 5%;
 margin-right: 5%;
 font-size: 15px;
 background-color: #f5e6ff;
}

img {
  max-width: 100%;
  max-height: 100%;
}


/* grid layout for devices with min-width: 451px*/
#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, max-height: 400px);
  grid-gap: 1em;
}

#container > .name {
  grid-column: 1/4;
  grid-row: 1/2;
  background: url(../img/landscape3.svg);
  opacity: 0.7;
  background-size: contain;
  color:#fff;
  background-color: #ebccff;
}

#container > .banner {
  grid-column: 1/3;
  grid-row: auto;
  background-color: #ebccff;
  text-align: center;
}

#container > .quote {
  grid-column: 3/4;
  grid-row: auto;
  background-color: #ebccff;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;

}

#container > main {
  grid-column: 1/4;
  grid-row: auto;
  background-color: #ebccff;
}

#container > footer {
  grid-column: 1/4;
  grid-row: auto;
  background-color: #ebccff;
}

/*banner section*/
.banner > .picture {
  max-width: auto;
  max-height: auto;
}

/*quote section*/
.quote > p {
  padding: 50% 10% 50% 10%;
}

/*main*/

main {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  text-align: center;
}

main > .projects {
  width: 33%;
}

main > .link {
  width: 100%;
}

/*header*/
.name > h1 {
  float: right;
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 700;
  text-align: center;
}

.name > .logo {
  max-width: 5em;
  max-height: 4em;
  padding: 1em;
  text-align: left;
}
/*footer*/
footer {
  text-align: center;
  width:100%;
  height: 40px;
}

footer > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer > ul, li {
  display: inline;
}

/*projects section for min-width 451px and max-width 699px*/
@media screen and (min-width:451px) and (max-width: 699px) {

  main > .projects {
    width: 50%;
  }
}


/*breakpoint at 450px*/
@media screen and (max-width: 450px) {
  #container {
    display: flex;
    flex-wrap: wrap;
  }

  main > .projects {
    width: 100%;
    padding: 5px;
    text-align: center;
  }

  .name, .banner, .quote, main {
    margin-bottom: 1em;
  }

 .banner{
  min-width: 100%;
 }

  .banner > .picture {
    width: 100%;
  }

  .banner, .quote, .main, {
    max-width: 100%;
  }

  .name > .logo {
  max-width: 30px;
  max-height: 30px;
  margin: 0;
  padding: 0;
  }

}
